.filter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.filter .form-control {
  width: 100%;
}

.filter .form-control input {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

.filter .form-control input::placeholder {
  color: #fff;
}

.filter .region-filter .select {
  background-color: #2b3743;
  color: #fff;
  font-family: inherit;
  padding: 8px;
  width: 200px;
  border: none;
  border-radius: 5px;
  padding: 12px;
}

.form input.light-theme,
.form select .light-theme {
  background-color: var(--light-mode-input);
}

@media (min-width: 768px) {
  .filter {
    flex-direction: row;
  }

  .filter .form-control {
    width: auto;
  }

  .filter .form-control input {
    width: auto;
    margin: 0;
  }

  .filter .region-filter {
    width: auto;
  }
}
